Source: haskell-convertible
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 4.0.0), ghc6 (>= 6.10), haskell-devscripts (>= 0.6.15), cpphs, haddock, libghc6-mtl-dev, libghc6-time-dev, libghc6-mtl-prof, libghc6-time-prof
Build-Depends-Indep: debhelper (>= 4.0.0), haddock, hugs (>= 98.200503.08), haskell-devscripts (>= 0.6.15), ghc6 (>= 6.10), cpphs, libghc6-mtl-doc, libghc6-time-doc, ghc6-doc
Standards-Version: 3.8.0
Section: libs
Homepage: http://hackage.haskell.org/cgi-bin/hackage-scripts/package/convertible
Vcs-Browser: http://git.complete.org/convertible
Vcs-Git: git://git.complete.org/convertible

Package: libghc6-convertible-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}
Description: Typeclasses and instances for converting between types, GHC package
 convertible provides a typeclass with a single function
 that is designed to help convert between different types: numeric
 values, dates and times, and the like.  The conversions perform bounds
 checking and return a pure Either value.  This means that you need
 not remember which specific function performs the conversion you
 desire.
 .
 Also included in the package are optional instances that provide
 conversion for various numeric and time types, as well as utilities
 for writing your own instances.
 .
 Finally, there is a function that will raise an exception on
 bounds-checking violation, or return a bare value otherwise,
 implemented in terms of the safer function described above.
 .
 Convertible is also used by HDBC 2.0 for handling marshalling of
 data to/from databases.
 .
 Convertible is backed by an extensive test suite and passes tests
 on GHC and Hugs.

Package: libghc6-convertible-prof
Section: libdevel
Architecture: any
Depends: ${haskell:Depends}
Description: Typeclasses and instances for converting between types, GHC profiling package
 convertible provides a typeclass with a single function
 that is designed to help convert between different types: numeric
 values, dates and times, and the like.  The conversions perform bounds
 checking and return a pure Either value.  This means that you need
 not remember which specific function performs the conversion you
 desire.
 .
 Also included in the package are optional instances that provide
 conversion for various numeric and time types, as well as utilities
 for writing your own instances.
 .
 Finally, there is a function that will raise an exception on
 bounds-checking violation, or return a bare value otherwise,
 implemented in terms of the safer function described above.
 .
 Convertible is also used by HDBC 2.0 for handling marshalling of
 data to/from databases.
 .
 Convertible is backed by an extensive test suite and passes tests
 on GHC and Hugs.

Package: libhugs-convertible
Section: libs
Architecture: all
Depends: ${haskell:Depends}, hugs (>= 98.200503.08)
Description: Typeclasses and instances for converting between types, Hugs package
 convertible provides a typeclass with a single function
 that is designed to help convert between different types: numeric
 values, dates and times, and the like.  The conversions perform bounds
 checking and return a pure Either value.  This means that you need
 not remember which specific function performs the conversion you
 desire.
 .
 Also included in the package are optional instances that provide
 conversion for various numeric and time types, as well as utilities
 for writing your own instances.
 .
 Finally, there is a function that will raise an exception on
 bounds-checking violation, or return a bare value otherwise,
 implemented in terms of the safer function described above.
 .
 Convertible is also used by HDBC 2.0 for handling marshalling of
 data to/from databases.
 .
 Convertible is backed by an extensive test suite and passes tests
 on GHC and Hugs.

Package: haskell-convertible-doc
Section: doc
Architecture: all
Depends: ${haskell:Depends}
Description: Typeclasses and instances for converting between types, documentation
 convertible provides a typeclass with a single function
 that is designed to help convert between different types: numeric
 values, dates and times, and the like.  The conversions perform bounds
 checking and return a pure Either value.  This means that you need
 not remember which specific function performs the conversion you
 desire.
 .
 Also included in the package are optional instances that provide
 conversion for various numeric and time types, as well as utilities
 for writing your own instances.
 .
 Finally, there is a function that will raise an exception on
 bounds-checking violation, or return a bare value otherwise,
 implemented in terms of the safer function described above.
 .
 Convertible is also used by HDBC 2.0 for handling marshalling of
 data to/from databases.
 .
 Convertible is backed by an extensive test suite and passes tests
 on GHC and Hugs.
 .
 This package provides documentation on the Convertible API.
